/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --backround-image: url('../images/cover-image-dark.png');
  --backround-color: #000028;
  --header-title-color: #DB00FF;
  --footer-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-color-button: rgba(255, 0, 112, 0.4);
}
