/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --backround-image: url('../images/cover-image-light.png');
  --backround-color: #FFF1F7;
  --header-decor-visibility: hidden;
  --header-title-color: #FFC2E6;
  --footer-title-color: #FFC2E6;
  --title-color: #353430;
  --accent-decor-color: #353430;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-button: rgba(50, 49, 45, 0.4);
}

.theme-light .page {
  background-color: var(--backround-color);
}

.theme-light .header-decor {
  visibility: var(--header-decor-visibility);
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--accent-decor-color);
  border-right: 1px solid var(--accent-decor-color);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--accent-decor-color);
  border-left: 1px solid var(--accent-decor-color);
}

.theme-light .header__theme-menu-list {
  color: var(--text-color);
}

.theme-light .section__title {
  color: var(--title-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --backround-image: url('../images/cover-image-light.png');
    --backround-color: #FFF1F7;
    --header-decor-visibility: hidden;
    --header-title-color: #FFC2E6;
    --footer-title-color: #FFC2E6;
    --title-color: #353430;
    --accent-decor-color: #353430;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-button: rgba(50, 49, 45, 0.4);
  }
} 
